@keyframes jump {
  0% {
    transform: translateY(0);
  }
  25% {
    transform: translateY(-10px);
  }
  50% {
    transform: translateY(0);
  }
  75% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes refresh {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes wiggle {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-5px);
  }
  50% {
    transform: translateX(5px);
  }
  75% {
    transform: translateX(-5px);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes delete {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  25% {
    transform: scale(0);
    opacity: 0;
  }
  50% {
    transform: scale(1) translateX(50px);
    opacity: 0;
  }
  75% {
    transform: scale(1) translateX(0);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.wiggle-animation:hover {
  animation: wiggle 0.5s ease;
}

.refresh-animation:hover {
  animation: refresh 0.5s ease;
}

.delete-animation:hover {
  animation: delete 0.8s ease;
}

.jump-animation:hover {
  animation: jump 0.5s ease;
}

.wiggle-animation-btn:hover svg {
  animation: wiggle 0.5s ease;
}

.delete-animation-btn:hover svg {
  animation: delete 0.8s ease;
}

.jump-animation-btn:hover svg {
  animation: jump 0.5s ease;
}

.list-item-button {
  border-radius: 10px 10px 0 0 !important;
  transition: all 0.1s ease-in-out;
}
.list-item-button-open {
  background-color: #565656 !important;
}

.list-item-button:hover {
  filter: brightness(1.1);
  transition: all 0.1s ease-in-out;
}

.list-item-button-collapse {
  background-image: linear-gradient(to top right, #565656, #333333) !important;
  border-radius: 0 0 10px 10px !important;
}

.muirtl-yw905v-MuiButtonBase-root-MuiListItemButton-root.Mui-selected {
  background-color: #6b6b6bce !important;
  filter: brightness(1.1) !important;
  color: #ffb800 !important;
  .MuiSvgIcon-root {
    fill: #ffb800 !important;
  }
}

.MuiListItemButton-root {
  border-radius: 50px !important;
}

.muirtl-1cxu3qs-MuiButtonBase-root-MuiListItemButton-root.Mui-selected,
.muirtl-yw905v-MuiButtonBase-root-MuiListItemButton-root.Mui-selected {
  background-color: rgba(0, 89, 255, 0.305) !important;
  color: inherit !important;
}

.MuiTreeItem-content {
  padding: 8px 10px !important;
}

.resizer {
  width: 6px;
  cursor: col-resize;
  background: #eee;
  margin: 0 4px;
  border-radius: 3px;
  transition: background 0.2s;
  z-index: 1;
}
.resizer:hover,
.resizer.active {
  background: #ccc;
}

.MuiLink-root {
  text-decoration: none !important;
  transition: color 0.2s ease;
}

.MuiLink-root:hover {
  color: #ff5d5d !important;
  transition: color 0.2s ease;
}

/* .MuiButton-contained, .MuiButton-outlined {
   border-radius: 7px !important;
} */

.custom-divider {
  margin-top: 4px !important;
  margin-bottom: 4px !important;
}

input[type="search"]::-webkit-search-cancel-button {
  appearance: none;
  display: block;
  width: 14px;
  height: 14px;
  background: url("../images/clear-icon.png") no-repeat center center;
  background-size: contain;
  cursor: pointer;
  opacity: 1;
}

.MuiOutlinedInput-root,
.MuiPickersInputBase-root {
  border-radius: 12px !important;
}

.MuiDataGrid-mainContent {
  border-radius: 16px;
  transition: all 0.5s ease;
  overflow: hidden;
}

.MuiDataGrid-virtualScroller {
  overflow: auto;
}

.MuiDataGrid-main {
  overflow: hidden;
}

.filter-container {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  overflow: hidden;
  z-index: 10;
  transition: all 0.3s ease-in-out;
}

.filter-container-open {
  width: 320px;
  transform: translateX(0);
  opacity: 1;
  visibility: visible;
}

.filter-container-close {
  width: 320px;
  transform: translateX(100%);
  opacity: 0;
  visibility: hidden;
}

.datagrid-container {
  transition: margin-right 0.3s ease-in-out;
}

.datagrid-container-with-filter {
  margin-right: 330px;
}

.muirtl-1tdeh38 {
  border-top: none !important;
}

.MuiDataGrid-root {
  background-color: transparent !important;
}

.MuiDataGrid-panelContent {
  background-color: var(--background-paper) !important;
}

.MuiInputBase-input {
  font-feature-settings: "locl" !important;
  font-family: "SansX" !important;
  unicode-bidi: isolate !important; /* Helps preserve directional integrity */
  font-variant-numeric: lining-nums !important;
}

/* .MuiButton-containedSizeMedium:not(.combo-menu-button),
.MuiButton-outlinedSizeMedium:not(.combo-menu-button) {
  border-radius: 10px !important;
  box-shadow: none !important;
}

.MuiButton-containedSizeLarge,
.MuiButton-outlinedSizeLarge {
  border-radius: 12px !important;
  box-shadow: none !important;
} */

.signin-container-dark {
  --s: 300px;
  --c1: #1d1d1d;
  --c2: #4e4f51;
  --c3: #3c3c3c;
  width: 100vw;
  height: 100vh;

  background: repeating-conic-gradient(
        from 30deg,
        #0000 0 120deg,
        var(--c3) 0 180deg
      )
      calc(0.5 * var(--s)) calc(0.5 * var(--s) * 0.577),
    repeating-conic-gradient(
      from 30deg,
      var(--c1) 0 60deg,
      var(--c2) 0 120deg,
      var(--c3) 0 180deg
    ) !important;
  background-size: var(--s) calc(var(--s) * 0.577) !important;
  transition: all 0.3s ease;
}

.signin-container-light {
  --s: 300px;
  --c1: #ffffff;
  --c2: #cacac9;
  --c3: #bab8b8;
  width: 100vw;
  height: 100vh;

  background: repeating-conic-gradient(
        from 30deg,
        #0000 0 120deg,
        var(--c3) 0 180deg
      )
      calc(0.5 * var(--s)) calc(0.5 * var(--s) * 0.577),
    repeating-conic-gradient(
      from 30deg,
      var(--c1) 0 60deg,
      var(--c2) 0 120deg,
      var(--c3) 0 180deg
    ) !important;
  background-size: var(--s) calc(var(--s) * 0.577) !important;
  transition: all 0.3s ease;
}

.MuiFormLabel-root {
  width: fit-content !important;
  padding: 0 6px 0 6px !important;
}

.MuiPickersSectionList-root {
  direction: rtl !important;
}

.MuiInputBase-inputMultiline {
  scrollbar-width: thin;
}

/* .MuiTypography-root { */
  /* line-height: inherit !important; */
/* } */

.disable-line-height {
  line-height: inherit !important;
}

.nowarp {
  white-space: nowrap !important;
}

p {
  margin: 0;
}